.main{
    background: url('https://www.seekpng.com/png/full/4-49594_stylish-colorful-wave-background-png-wave-png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
}

.navbar-brand,
.navbar li a{
    text-transform: capitalize;
    color: rgb(66, 0, 130);
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    transition: 600ms ease;
}

.navbar-brand:hover,
.navbar li a:hover{
    background: lightblue;
}

.rounded{
    background: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left-panel,
.right-panel{
    display: flex;
    align-items: flex-start;
}

.left-panel{
    flex-direction: column;
    justify-content: center;
}

.left-panel h3{
    text-transform: capitalize;
}

.btn{
    color: #320147;
    border-radius: 15px;
    text-transform: capitalize;
    transition: 700ms ease;
    font-size: 0.8rem;
    display: inline-block;
    width: 100px;
}

.btn:hover{
    background: lightblue;
    color: black;
    border: 1px solid lightblue;
}

